@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ikram's space</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Users ici <a href="https://localhost:7246/users">CLICK HERE</a>.</p>
    <p>Products ici <a href="https://localhost:7246/Products">CLICK HERE</a>.</p>
</div>
